@import "../vendor/semantic/dist/components/reset.css";
@import "../vendor/semantic/dist/components/site.css";
@import "../vendor/semantic/dist/components/container.css";
@import "../vendor/semantic/dist/components/grid.css";
@import "../vendor/semantic/dist/components/header.css";
@import "../vendor/semantic/dist/components/image.css";
@import "../vendor/semantic/dist/components/menu.css";
@import "../vendor/semantic/dist/components/divider.css";
@import "../vendor/semantic/dist/components/list.css";
@import "../vendor/semantic/dist/components/segment.css";
@import "../vendor/semantic/dist/components/dropdown.css";
@import "../vendor/semantic/dist/components/icon.css";
@import "../vendor/semantic/dist/components/message.css";
@import "../vendor/semantic/dist/components/card.css";
@import "../vendor/semantic/dist/components/item.css";
@import "../vendor/semantic/dist/components/label.css";
@import "../vendor/semantic/dist/components/flag.css";

body {
	background-color: #ffffff;
}

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.main.container {
	margin-top: 7em;
	min-height: 40em;
}

.wireframe {
	margin-top: 2em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

/* ------------------------------------------ */
.movie-detail-page {
	.media-section {
		width: 60% !important;
	}
	.info-section {
		width: 40% !important;
	}
	.lang-label {
		cursor: pointer;
		border: 1px solid;
		border-color: #fff;
		&:hover {
			background: none #FFFFFF !important;
			border: 1px solid rgba(34, 36, 38, 0.15);
			color: rgba(0, 0, 0, 0.87) !important;
			box-shadow: none;
		}
		a {
			opacity: 1;
		}
	}
	.video-player-container {
		margin-bottom: 10px;
		text-align: center;
		img{
			width: 80%;
		}
		iframe {
			min-height: 500px;
			width: 100%;
			height: 100%;
		}
	}
}

.new-movies-available-msg,
.message.loading-message {
	max-width: 30em;
	margin: 1em 0 1em 0;
}

/* I need this selector to not use an !important and be able to overwrite framework width */
.ui.movies-grid > .movie-summary {
	width: 185px;
	min-height: 400px;

	& > .movie-info {
		padding-bottom: 0;
	}
	a {
		color: #000;
		& > img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: inherit;
		}
	}
}
