@import "../vendor/semantic/dist/components/reset.css";
@import "../vendor/semantic/dist/components/site.css";
@import "../vendor/semantic/dist/components/container.css";
@import "../vendor/semantic/dist/components/grid.css";
@import "../vendor/semantic/dist/components/header.css";
@import "../vendor/semantic/dist/components/image.css";
@import "../vendor/semantic/dist/components/menu.css";
@import "../vendor/semantic/dist/components/divider.css";
@import "../vendor/semantic/dist/components/list.css";
@import "../vendor/semantic/dist/components/segment.css";
@import "../vendor/semantic/dist/components/dropdown.css";
@import "../vendor/semantic/dist/components/icon.css";
@import "../vendor/semantic/dist/components/message.css";
@import "../vendor/semantic/dist/components/card.css";

body {
	background-color: #ffffff;
}

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.main.container {
	margin-top: 7em;
}

.wireframe {
	margin-top: 2em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

/* ------------------------------------------ */
.home-page {
	min-height: 40em;

	.new-movies-available-msg,
	.message.loading-message {
		max-width: 30em;
		margin: 1em 0 0 0.5em;
	}
}

/* I need this selector to not use an !important and be able to overwrite framework width */
.ui.movies-grid > .movie-summary {
	width: 185px;
	min-height: 400px;

	& > .movie-info {
		padding-bottom: 0;
	}
}
